# The Discord bot token acquired via the Discord Developer Portal
DISCORD_TOKEN=

# ID of your Discord bot application
APPLICATION_ID=

# ID of the Moderator role. Potentially used someday for `?cleanup` command
MOD_ROLE_ID=

# ID of the Rustacean role. Used for `?rustify` command
RUSTACEAN_ROLE_ID=

# ID of the showcase channel
SHOWCASE_CHANNEL_ID=

# ID of the channel where reports are sent to. Used for `/report` command. Leave empty to disable
# `/report` command
REPORTS_CHANNEL_ID=
