[package]
name = "rustlang_discord_mod_bot"
version = "0.1.0"
authors = ["technetos <mrgould93@gmail.com>"]
edition = "2018"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serenity = { version = "0.8.0", features = ["cache", "model"] }
diesel = { version = "1.4.0", features = ["postgres", "r2d2"] }
diesel_migrations = { version = "1.4.0", features = ["postgres"] }
reqwest = { version = "0.10", features = ["blocking", "json"] }
serde = "1.0"
serde_derive = "1.0"
lazy_static = "1.4.0"
log = "0.4.0"
env_logger = "0.7.1"
envy = "0.4"
